programas/flows _Isabelly.json
[
    {
        "id": "c904ee997844c6b9",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4614a1c6c032b245",
        "type": "mqtt out",
        "z": "c904ee997844c6b9",
        "name": "",
        "topic": "maqueta2/actuadores/rele",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "09168218b0789c33",
        "x": 750,
        "y": 200,
        "wires": []
    },
    {
        "id": "f3cd90bfc117f93b",
        "type": "mqtt out",
        "z": "c904ee997844c6b9",
        "name": "",
        "topic": "maqueta2/actuadores/son",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "09168218b0789c33",
        "x": 750,
        "y": 260,
        "wires": []
    },
    {
        "id": "734e6684ba3d8774",
        "type": "mqtt out",
        "z": "c904ee997844c6b9",
        "name": "",
        "topic": "maqueta2/actuadores/led",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "09168218b0789c33",
        "x": 750,
        "y": 120,
        "wires": []
    },
    {
        "id": "8057091e9fedf708",
        "type": "ui_button",
        "z": "c904ee997844c6b9",
        "name": "",
        "group": "92df96b3843b825b",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 450,
        "y": 120,
        "wires": [
            [
                "734e6684ba3d8774",
                "4614a1c6c032b245",
                "f3cd90bfc117f93b"
            ]
        ]
    },
    {
        "id": "4481e508df40ccb9",
        "type": "mqtt in",
        "z": "c904ee997844c6b9",
        "name": "",
        "topic": "maqueta2/sensores/luz",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "09168218b0789c33",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 340,
        "wires": [
            [
                "37bf2035ea258310"
            ]
        ]
    },
    {
        "id": "37bf2035ea258310",
        "type": "ui_text",
        "z": "c904ee997844c6b9",
        "group": "96c75aaf4397f4b9",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "luminosidade",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 390,
        "y": 340,
        "wires": []
    },
    {
        "id": "4ebdc130053a6682",
        "type": "mqtt in",
        "z": "c904ee997844c6b9",
        "name": "",
        "topic": "maqueta2/sensores/temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "09168218b0789c33",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 420,
        "wires": [
            [
                "68b026089e536387"
            ]
        ]
    },
    {
        "id": "d5317c95efcd8ae6",
        "type": "mqtt in",
        "z": "c904ee997844c6b9",
        "name": "",
        "topic": "maqueta2/sensores/hum",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "09168218b0789c33",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 500,
        "wires": [
            [
                "8165a47787eebd85"
            ]
        ]
    },
    {
        "id": "68b026089e536387",
        "type": "ui_gauge",
        "z": "c904ee997844c6b9",
        "name": "",
        "group": "96c75aaf4397f4b9",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "temperatura",
        "label": "units",
        "format": "{{value}}",
        "min": "10",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 450,
        "y": 420,
        "wires": []
    },
    {
        "id": "8165a47787eebd85",
        "type": "ui_chart",
        "z": "c904ee997844c6b9",
        "name": "",
        "group": "96c75aaf4397f4b9",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "humidade",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 420,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "09168218b0789c33",
        "type": "mqtt-broker",
        "name": "VPS_mqtt2",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "92df96b3843b825b",
        "type": "ui_group",
        "name": "Maqueta2 Actuadores",
        "tab": "e1476bdfa06de523",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "96c75aaf4397f4b9",
        "type": "ui_group",
        "name": "Maqueta2 Sensores",
        "tab": "e1476bdfa06de523",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e1476bdfa06de523",
        "type": "ui_tab",
        "name": "Maqueta2",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]